flows.json
[{"id":"e55c13bc.44ea18","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a309a1aa.09d71","type":"inject","z":"e55c13bc.44ea18","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":280,"wires":[["127ab9fd.a194be"]]},{"id":"127ab9fd.a194be","type":"http request","z":"e55c13bc.44ea18","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://sfws.lfrz.at/json.php?command=getdata","tls":"","persist":false,"proxy":"","authType":"","x":435,"y":259,"wires":[["8429fb1a.03d788"]]},{"id":"8429fb1a.03d788","type":"function","z":"e55c13bc.44ea18","name":"Austria filter","func":"var o=msg.payload;\nvar d = new Date(o.values.AT0520.d*1000);\nmsg.payload=[\n {\n measurement:\"radiation\",\n fields:{\n value: o.values.AT0520.v\n },\n tags:{\n location:\"Hainburg\" \n },\n timestamp:d\n },\n {\n measurement:\"radiation\",\n fields:{\n value: o.values.AT0508.v\n },\n tags:{\n location:\"Bruck/Leitha\" \n },\n timestamp:d\n },\n {\n measurement:\"radiation\",\n fields:{\n value: o.values.AT0104.v\n },\n tags:{\n location:\"Frauenkirchen\" \n },\n timestamp:d\n },\n {\n measurement:\"radiation\",\n fields:{\n value: o.values.AT0113.v\n },\n tags:{\n location:\"Neisidl See\" \n },\n timestamp:d\n },\n {\n measurement:\"radiation\",\n fields:{\n value: o.values.AT2002.v\n },\n tags:{\n location:\"Wien-Radetzkystra\\u00dfe\" \n },\n timestamp:d\n },\n {\n measurement:\"radiation\",\n fields:{\n value: o.values.AT0918.v\n },\n tags:{\n location:\"Kirchdorf\" \n },\n timestamp:d\n },\n {\n measurement:\"radiation\",\n fields:{\n value: o.values.AT0514.v\n },\n tags:{\n location:\"Gm\\u00fcnd\\/N\\u00d6\" \n },\n timestamp:d\n }\n \n];\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":100,"wires":[["7bb541de.265738","99f0c1c2.539ca"]]},{"id":"7bb541de.265738","type":"influxdb batch","z":"e55c13bc.44ea18","influxdb":"c6344f2b.d2db3","precision":"","retentionPolicy":"","name":"","x":867,"y":106,"wires":[]},{"id":"834e633a.a74d3","type":"http request","z":"e55c13bc.44ea18","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://www.met.hu/levegokornyezet/gammadozis_teljesitmeny/szlovak/","tls":"","persist":false,"proxy":"","authType":"","x":403,"y":383,"wires":[["1606dc8e.e6dbeb"]]},{"id":"1606dc8e.e6dbeb","type":"html","z":"e55c13bc.44ea18","name":"","property":"payload","tag":"table[class=gamma]","ret":"html","as":"multi","x":633,"y":370,"wires":[["b7442ed0.2e5628"]]},{"id":"b7442ed0.2e5628","type":"html","z":"e55c13bc.44ea18","name":"","property":"payload","outproperty":"","tag":"tr","ret":"html","as":"multi","x":765,"y":238,"wires":[["4c93fdb2.f2be1c"]]},{"id":"4c93fdb2.f2be1c","type":"html","z":"e55c13bc.44ea18","name":"","property":"payload","tag":"td","ret":"html","as":"single","x":804,"y":156,"wires":[["c99d8e2a.f4fc1"]]},{"id":"fb283912.20b078","type":"inject","z":"e55c13bc.44ea18","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":222,"y":354,"wires":[["834e633a.a74d3","290cdccd.15e81c"]]},{"id":"c99d8e2a.f4fc1","type":"function","z":"e55c13bc.44ea18","name":"Slovakia_html2json","func":"var o=msg.payload;\n\nif(!isNaN(o[2])){\n \n var d = new Date(o[1].replace(/ /g, ' '));\n d=d.getTime()-120000*60;\n d2=new Date(d);\n\tmsg.payload=[\n {\n measurement:\"radiation\",\n fields:{\n value: Number(o[2])\n },\n tags:{\n location:o[0].replace(/ /g, ' ') \n },\n timestamp:d2\n }\n ]\n return msg;\n }\n\n","outputs":1,"noerr":0,"x":1007,"y":158,"wires":[["5ac2ff97.c7fa6"]]},{"id":"5ac2ff97.c7fa6","type":"influxdb batch","z":"e55c13bc.44ea18","influxdb":"c6344f2b.d2db3","precision":"","retentionPolicy":"","name":"","x":1161,"y":280,"wires":[]},{"id":"290cdccd.15e81c","type":"http request","z":"e55c13bc.44ea18","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://www.met.hu/levegokornyezet/gammadozis_teljesitmeny/magyar/","tls":"","persist":false,"proxy":"","authType":"","x":382,"y":814,"wires":[["9ed00214.4f89e8"]]},{"id":"9ed00214.4f89e8","type":"html","z":"e55c13bc.44ea18","name":"","property":"payload","outproperty":"","tag":"table[class=gamma]","ret":"html","as":"multi","x":612,"y":801,"wires":[["d0a67d71.979d6"]]},{"id":"d0a67d71.979d6","type":"html","z":"e55c13bc.44ea18","name":"","property":"payload","outproperty":"","tag":"tr","ret":"html","as":"multi","x":744,"y":669,"wires":[["2ad57f83.26e878"]]},{"id":"2ad57f83.26e878","type":"html","z":"e55c13bc.44ea18","name":"","property":"payload","tag":"td","ret":"html","as":"single","x":783,"y":587,"wires":[["f5205b8.5767d28"]]},{"id":"f5205b8.5767d28","type":"function","z":"e55c13bc.44ea18","name":"Hungary_html2json","func":"var o=msg.payload;\n\nif(!isNaN(o[2])){\n \n var d = new Date(o[1].replace(/ /g, ' '));\n d=d.getTime()-120000*60;\n d2=new Date(d);\n\tmsg.payload=[\n {\n measurement:\"radiation\",\n fields:{\n value: Number(o[2])\n },\n tags:{\n location:o[0].replace(/ /g, ' ') \n },\n timestamp:d2\n }\n ]\n return msg;\n }\n\n","outputs":1,"noerr":0,"x":986,"y":589,"wires":[["2187a544.883412"]]},{"id":"2187a544.883412","type":"influxdb batch","z":"e55c13bc.44ea18","influxdb":"c6344f2b.d2db3","precision":"","retentionPolicy":"","name":"","x":1140,"y":711,"wires":[]},{"id":"99f0c1c2.539ca","type":"debug","z":"e55c13bc.44ea18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":40,"wires":[]},{"id":"c6344f2b.d2db3","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"radiation_azure","name":"","usetls":false,"tls":""}]